html,body {
  padding: 0;
  margin: 0;
}

#background {
  background: chartreuse;
  background-image: url(https://pbs.twimg.com/profile_images/623353855435218944/2sQ6jofI.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}
